.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
  gap: 15px;
}
.progress {
  width: 600px;
  height: 50px;
  border: 2px solid black;
  position: relative;
  border-radius: 10px;
}
.progress-inner {
  position: absolute;
  width: 600px;
  height: 50px;
  border-radius: 10px;
  background-color: aquamarine;
}
